a[href] {
    color: var(--text-color);
    text-decoration: none;
  }

  a[href]:visited {
    color: var(--text-color);
    font-style: italic;
  }

  a[href]:hover {
    text-decoration: underline;
  }
  a[href]:active {
    background-color: var(--color-light-grey);
  }
